.team {
  padding-top: 90px;
	position: relative;
	height: 670px;
}

@media (max-width: 576px) {
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
	.team {
		height: auto;
		padding-bottom: 90px;
	}
}

@media (max-width: 1200px) {

}
