.cards {
	padding-top: 39px;
	list-style: none;
	margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}