.header_filials__map {
  width: 100%;
  position: relative;
  height: 680px;
}

#map {
  position: absolute;
}

@media (max-width: 1200px) {
  .header_filials__map {
    position: relative;
    top: 90px;
  }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}
