.main-services {
  overflow: hidden;
	position: relative;
  padding-top: 90px;
	min-height: 880px;
}

.main-services .сarousel-fade .carousel-inner .carousel-item {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.main-services .сarousel-fade .carousel-item.active {
  opacity: 1;
}
