.price {
  box-shadow: 0 12.5px 32.5px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 5px;
  padding: 40px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-family: OpenSans;
  font-size: 15px;
  line-height: 19px;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .price {
    padding: 15px;
  }
}

