.details {
	position: relative;
	background-color: #F7F7FA;
  padding-top: 90px;
	height: 850px;
	min-width: 100vw;
}


@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}


@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .details {
    margin-bottom: 180px;
  }
}


