.form__button {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  border: none;
  width: 176px;
  height: 50px;
  display: block;
  color: #FFFFFF;
  font-size: 15px;
  text-align: center;
  margin-top: 50px;
}

.form__button:hover,
.form__button:focus {
  background-color: #515066;
  border: none;
  outline: none;
  box-shadow: none;
}

@media (max-width: 576px) {

}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {
}
