.carousel-caption_subtitle {
	margin-block-start: 1em;
	margin-block-end: 1em;
	font-family: VisueltPro;
	font-size: 16px;
	line-height: 20px;
	width: 454px;
	color: #fff;
	text-align: left;
	border-left: 2px solid white;
	padding-left: 20px;
	margin-top: 20px;
}
