.header__menu {
	padding: 0 0 0 0;
	height: 90px;
	background: transparent;
	z-index: 9999;
	left: 0;
	top: 0;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
}

@media (max-width: 576px) {
  	
}

@media (max-width: 768px) {

}