.header_carousel__subtitle {
	color: #fff;
	position: relative;
	left: 0;
	max-width: 500px;
	border-left: 2px solid #fff;
	padding-left: 20px;
}

@media (max-width: 576px) {

}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}
