.header_user_Mobile {
	display: none;
}

.header {
 	min-width: 100vw;
 	max-width: 1440px;
	position: relative;
	height: 680px;
	color: #fff;
}

.header_mobile__logo {
  background: url('./../../assets/logo.svg');
  position: absolute;
  z-index: 9999;
  height: 30px;
  width: 50px;
  top: 30px;
  left: 30px;
  opacity: 0.55;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
	.header__menu {
		display: none;
	}

	.header_user_Mobile {
		display: block;
    z-index: 100;
    position: absolute;
		left: 0;
		top: 0;
		padding: 0;
		max-width: 100vw;
		width: 100vw;
	}

	.navbar-toggler_user_Mobile {
    padding: 0;
    margin: 0;
		position: absolute;
		top: 0;
		z-index: 2;
		color: #0000 !important;
  	border-color: #0000 !important;
  	width: inherit;
  	height: auto;
    position: absolute;
    top: 30px;
    padding-right: 30px;
    text-align: right;
    z-index: 2;
	}

/*	.navbar-toggler_user_Mobile span {
		position: absolute;
		right: 60px;
		top: 30px;
		z-index: 2;
	}*/

	#navbarSupportedContent {
		background: #515066;
		width: 100vw;
		min-height: 100vh;
		height: auto;
		padding-top: 90px;
	}
}


@media (max-width: 768px) {

}

@media (max-width: 576px) {

}
