.header_user_Mobile {
	display: none;
}

.header {
 	min-width: 100vw;
 	max-width: 1440px;
	position: relative;
	height: 680px;
	color: #fff;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
	.navbar-toggler_user_Mobile {
		position: absolute;
		z-index: 2;
		color: #0000 !important;
    	border-color: #0000 !important;
	}

	.header__menu { 
		display: none;
	}

	.header_user_Mobile {
		border: none;
		display: block;
    	z-index: 1;
    	padding: 0;
    	padding-top: 0;
    	padding-right: 0;
    	padding-left: 0;
    	position: absolute;
    	padding-bottom: 90px;
		left: 0;
		top: 0;
		
	}
	
	#navbarSupportedContent {
		background: #515066;
		min-width: 100vw;
		min-height: 100vh;
		height: auto;
		padding-top: 90px;
	}
}


@media (max-width: 768px) {

}

@media (max-width: 576px) {
  	
}