.details__info-module {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.2);
	height: 196px;
	margin-top: 464px;
	padding: 40px;
	z-index: 1;
}