.dropdown__link-column {
	list-style: none;
	padding-left: 0;
	padding-right: 0;
	color: #fff;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
