.dropdown__link-item,
.dropdown__link-item a {
  color: #fff !important;
	padding: 0;
	padding-bottom: 6px;
}

.dropdown__link-item:hover,
.dropdown__link-item:focus {
	color: #fff;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.dropdown__link-item::after {
	content: "▸";
	position: absolute;
	right: 0;
	color: #fff;
	opacity: .4;
}

.dropdown__link-item:hover::after {
	opacity: 1;
}

.dropdown__link-item > .dropdown__link-submenu {
	display: none;
}

.dropdown__link-item:hover > .dropdown__link-submenu {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

.dropdown__link-item:hover .dropdown__link-item::after {
	opacity: 1;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}
