.dropdown__column-links {
	list-style: none;
	margin-left: 0;
	padding-top: 0;
	padding-left: 0;
}

.dropdown__column-links:nth-child(3) {
	display: inline-flex;
}

.dropdown__column-links:nth-child(3) li {
	margin-right: 10px;
}

