.dropdown__pic {
	background-image: url('../../../../images/img-1.jpg');
	background-size: cover;
    background-position: center;
	height: 200px;
}

.dropdown__pic.ser-1 {
	background-image: url('../../../../images/img-2.jpg');
}

.dropdown__pic.ser-2 {
	background-image: url('../../../../images/img-3.jpg');
}
