.dropdown__pic {
	background-image: url('./1toothtreat.jpg');
	background-size: cover;
  background-position: center;
  border-radius: 10px;
	height: 200px;
}

.dropdown__pic.ser-1 {
	background-image: url('./1toothtreat.jpg');
}

.dropdown__pic.ser-2 {
	background-image: url('./2aesthetics.jpg');
}

.dropdown__pic.ser-3 {
  background-image: url('./3implant.jpg');
}

.dropdown__pic.ser-4 {
  background-image: url('./4surgeon.jpg');
}

.dropdown__pic.ser-5 {
  background-image: url('./5bite.jpg');
}

.dropdown__pic.ser-6 {
  background-image: url('./6gnathology.jpg');
}

.dropdown__pic.ser-7 {
  background-image: url('./7hygiene.jpg');
}

.dropdown__pic.ser-8 {
  background-image: url('./8children.jpg');
}

