.cards__item {
	/*width: 250px;
	margin-right: 24px;*/
} 


@media (max-width: 1200px) {
	.cards__item {
		max-width: 200px;
	} 
}

@media (max-width: 992px) {
	.cards__item {
		margin-bottom: 24px;
		max-width: 300px;
	} 
}

@media (max-width: 768px) {
	
}

@media (max-width: 576px) {

}
