* {
	padding: 0;
	margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: #0000;
}

*, *:before, *:after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

@font-face {
	src: url('./../../assets/fonts/VisueltPro-Regular.ttf') format('truetype');
	font-style: normal;
	font-family: 'VisueltPro';
	font-weight: normal;
}

@font-face {
  src: url('./../../assets/fonts/VisueltPro-Bold.ttf') format('truetype');
  font-style: bold;
  font-family: 'VisueltPro';
  font-weight: bold;
}

@font-face {
  src: url('./../../assets/fonts/VisueltPro-Italic.ttf') format('truetype');
  font-style: italic;
  font-family: 'VisueltPro';
  font-weight: italic;
}

.root {  
  color: #fff;
  font-family: VisueltPro;
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto;
  overflow: hidden;
}

.body_state_off {
  overflow-y: hidden;
}

.ol, .ul, .dl {
  margin-top: 0;
  margin-bottom: 0; 
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.h2-black {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #171717;
  font-family: 'IBM Plex Sans', sans-serif;;
  font-weight: bold ;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 0;

}

.h3-blue {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #143C7D;
  font-family: VisueltPro;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 23px;
}

.p-basic {
  color: #171717;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  padding-right: 24px;
}

.a-white, 
.a-white:hover {
  color: #fff;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 6px;
  font-family: VisueltPro;
  font-size: 16px;
  line-height: 19px;
}

.hello {
  color: red !important;
}

@media (max-width: 576px) {
  .team__imgs {
    display: none;
  }
}

@media (max-width: 768px) {
  .p-basic {
    padding-right: 15px;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {

}


/*ul {
	position: relative;
	margin-block-start: 0em;
    margin-block-end: 0em;
}

li {
	display: list-item;
    text-align: -webkit-match-parent;
}

.slick-dots {
	font: 100 14px system-ui;
	z-index: 9999;
    bottom: 150px;
    right: 100px;
    list-style: none;
}

.slick-dots li button {
	width: 5px;
    height: 5px;
    border-radius: 100%;
    opacity: 0.5;
}*/


/* RESPONSIVE CSS
-------------------------------------------------- */


