* {
	padding: 0;
	margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: #0000;
}

/*Значение optimizeLegibility (от англ. optimize legibility, в значении «оптимизировать читаемость») говорит браузеру, что кёрнинг и лигатуры должны быть отрисованы. Учтите, что такая настройка сильно замедлит рендеринг страницы в целом.*/


*, *:before, *:after {
  text-rendering: optimizeLegibility;
  /*-webkit-font-smoothing: antialiased;*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.befuckinwhite * {
  color: #fff !important;
}

.zindexminus {
  position: relative;
  z-index: -1;
}

@font-face {
  src: url('./../../assets/fonts/Lora-VariableFont_wght.ttf') format('truetype');
  font-family: 'Lora';
}

@font-face {
	src: url('./../../assets/fonts/OpenSans-Regular.ttf') format('truetype');
	font-style: normal;
	font-family: 'OpenSans';
	font-weight: normal;
}

@font-face {
  src: url('./../../assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-style: bold;
  font-family: 'OpenSans';
  font-weight: bold;
}

@font-face {
  src: url('./../../assets/fonts/OpenSans-Italic.ttf') format('truetype');
  font-style: italic;
  font-family: 'OpenSans';
  font-weight: italic;
}

::placeholder {
  font-family: OpenSans;
  font-size: 14px;
  color: #fff !important;
  opacity: 0.3 !important;
  text-align: left;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.body_state_off {
  overflow-y: hidden;
}

.root {
  font-family: OpenSans;
  font-size: 15px;
  line-height: 20px;
  margin: 0 auto;
}

a, button {
  font-family: OpenSans;
  font-size: 15px;
  line-height: 20px;
}

.ol, .ul, .dl {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.h2-black {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #171717;
  font-family: 'Lora';
  font-weight: bold ;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 0;

}

.h3-blue {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #143C7D;
  font-family: OpenSans;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
}

.p-basic {
  color: #171717;
  font-size: 15px;
  line-height: 19px;
  text-align: left;
  padding-right: 24px;
  margin-bottom: 0;
}

.p-blue {
  color: #143C7D;
  font-size: 15px;
  /*font-weight: bold;*/
  line-height: 19px;
  text-align: left;
  padding-right: 24px;
  margin-bottom: 0;
}

.a-white,
.a-white:hover {
  color: #fff;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 6px;
  font-family: OpenSans;
  font-size: 15px;
  line-height: 19px;
}

.a-blue,
.a-blue:hover {
  color: #143C7D;
  font-family: OpenSans;
  font-size: 15px;
  line-height: 19px;
  text-align: left;
  margin-bottom: 8px;
}

/*.a-blue:hover::before {
  text-decoration: none;
}
*/


@media (max-width: 576px) {

}

@media (max-width: 768px) {
  .p-basic {
    padding-right: 15px;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {

}


/*ul {
	position: relative;
	margin-block-start: 0em;
    margin-block-end: 0em;
}

li {
	display: list-item;
    text-align: -webkit-match-parent;
}

.slick-dots {
	font: 100 14px system-ui;
	z-index: 9999;
    bottom: 150px;
    right: 100px;
    list-style: none;
}

.slick-dots li button {
	width: 5px;
    height: 5px;
    border-radius: 100%;
    opacity: 0.5;
}*/


/* RESPONSIVE CSS
-------------------------------------------------- */


