.p_service__text {
}

.p_service__text:nth-child(even) {
  padding-left: 40px;
}

.p_service__text:nth-child(odd) {
  padding-left: 0;
}

@media (max-width: 1200px) {
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
}

@media (max-width: 576px) {
  .p_service__text {
    margin-top: 30px;
    padding: 0;
  }

  .p_service__text:nth-child(even) {
    padding-left: 0px;
  }

  .p_service__text:nth-child(odd) {
    padding-left: 0;
  }
}

