.header_not-main__title {
	margin: 0;
	padding-top: 120px;
	color: #fff;
	font-family: Lora;
	font-size: 43px;
	line-height: 52px;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
}


@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .header_not-main__title {
    position: absolute;
    bottom: 30px;
    font-size: 26px;
    line-height: initial;
    padding-left: 15px;
  }
}
