.footer__column {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
}

@media (max-width: 576px) {
 .footer__column {
 	padding-left: 15px;
 }
}

@media (max-width: 768px) {

}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {

}