.header_carousel__title {
	color: #fff;
	font-family: Lora;
	font-size: 43px;
	line-height: 52px;
	position: relative;
	display: flex;
	margin-bottom: 30px;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .header_carousel__title {
    font-size: 36px;
    line-height: initial;
  }
}
