.devider {
	background-color: rgba(158, 163, 169, 0.5);
	border-radius: 1.5px;
	height: 1px;
	margin-top: 90px;
}


@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}


@media (max-width: 768px) {
  .devider {
    max-width: 720px;
  }

}

@media (max-width: 576px) {

}

