.team__text_basic {
	margin: 0;
	padding: 0;
	width: inherit;
	height: inherit;
	display: flex;
	padding-top: 30px;
	color: #171717;
}


@media (max-width: 1200px) {

}

@media (max-width: 992px) {
}


@media (max-width: 768px) {
	.team__text_basic {
		padding-left: 0;
	}
}

@media (max-width: 576px) {
  .team__text_basic {
    padding-left: 15px;
  }
}
