/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel, .main__carousel {
  height: 680px;
  width: inherit;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
 }

.carousel-inner {
  height: 680px;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  z-index: 200;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 680px;
}



