.dentist__name {
  grid-area: dentist__name;
  width: inherit;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .dentist__name {
    margin-top: 25px;
  }
}
