.form__input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  width: inherit !important;
  border:none;
  border-radius: 0px;
  border-bottom:1px solid rgba(255,255,255,0.5);
  background: transparent;
  color: #fff !important;
}

.form__input:focus {
  outline:none;
  border: none;
  box-shadow: none;
  background: #0000;
  border-bottom: 1px solid rgba(255,255,255,1);
}
