.p_service__content {
  padding-top: 60px;
  /*background: linear-gradient(to right,rgba(215,220,241,0.15) 70%, white 30%);*/
  /*background: rgba(215,220,241,0.15);*/
  /*background: linear-gradient(to right,rgba(215,220,241,0.15) 100%, white 0%),
              linear-gradient(to bottom,rgba(215,220,241,0.15) calc(100% - 300px), white 300px);*/
  background: linear-gradient(to bottom,rgba(215,220,241,0.15) calc(100% - 300px), white 300px),
              linear-gradient(to right,rgba(215,220,241,0.15) 100%, white 0%);
}
}

@media (max-width: 1200px) {
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
}

@media (max-width: 576px) {
  .p_service__content {
    margin-top: 0px;
    padding-top: 30px;
  }
}
