.team__carousel-indicators {
  margin-left: 0;
  margin-right: 0;
  left: 45%;
  right: initial;
  flex-direction: column;
  top: 0;
  bottom: initial;
  padding-top: 30px;
  pointer-events: none;
}

.team__carousel-indicators li {
  background-color: #143C7D;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .team__carousel-indicators {
    display: none;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}
