.modal__content {
  background-color: #515066;
  padding: 0px 60px 60px 60px;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .modal__content {
    background-color: #515066;
    padding: 0px 20px 40px 20px;
  }
}


@media (max-width: 576px) {

