.team__texts_text_italic {
	color: #1B2734;
	font-family: VisueltPro;
	font-size: 20px;
	line-height: 27px;
	font-style: italic;
	margin-top: 30px;
	padding-left: 100px;
}

@media (max-width: 1200px) {
	.team__texts_text_italic {
		padding-right: 10%;
	}	
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
	.team__texts_text_italic {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 576px) {

}


