.p_service__article {
  margin-bottom: 60px;
  padding: 0;
}


@media (max-width: 1200px) {

}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .p_service__article {
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}




