.team__imgs-name {
	/*position: absolute;
	bottom: 90px;
	right: 500px;
	text-align: right;*/
  padding-top: 40px;
  font-style: normal;
}

@media (max-width: 576px) {
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
	.team__imgs-name {
		display: none;
	}
}

@media (max-width: 1200px) {

}
