.intro__texts {
  padding-top: 20px;
  padding-bottom: 90px;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .intro__texts {
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
