.header_not-main__subtitle {
	max-width: 500px;
	padding-top: 5px;
  margin-bottom: 0;
	color: #fff;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
}


@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .header_not-main__subtitle {
    padding-left: 15px;
  }
}
