.form__file-field-container,
.form__file-field-container p {
	width: inherit;
	height: 20px;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
  font-weight: bold;
}
